{% extends "maps/base.html" %}
  {% block assets %}
    {{ facility_form.media }}
  {% endblock assets %}
  {% block content %}
  <div class='container'>
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <form action="{% url 'new' %}" method="POST" role="form">
                {% csrf_token %}
                <legend>Submit a Facility</legend>
                <div class="form-group">
                    {{ facility_form }}
                    {% comment %}TODO: add more granular rendering and markup with bootstrap{% endcomment %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}