{% extends "maps/base.html" %}
{% load crispy_forms_tags %}
 {% block content %}
<div class='container'>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Create Facility</h2>

        <!-- <div class="col-md-8 col-md-offset-2"> -->
            <!-- <form action="{% url 'new' %}" method="POST" role="form"> -->
            {% crispy facility_form %}
        <!-- </div> -->
        <!-- <div class="col-md-8 col-md-offset-2">
            <form action="{% url 'new' %}" method="POST" role="form">
                {{facility_form}}
        </div> -->
        </div>
    </div>
</div>
{% endblock content %}