{% extends "maps/base.html" %} {% block content %}

<div class='container=fluid'>
    <div class='col-md-8 col-md-offset-2'>
        <div class="row">

            <h1 class='text-center'> {{ facility.name }}</h1>

            <address> {{facility.address}}</address>
            <p>in {{facility.country}}</p>

            <div>They offer the following:
                <table>
                    <thead>they offer the following</thead>
                    <tbody>
                        <td>{{ facility.services}}</td>
                    </tbody>
                </table>
            </div>
            <p>Located at: {{facility.lat}}, {{facility.long}}</p>
        </div>
    </div>
</div>
{% endblock content %}